
listview-view {
}

listviewheadersplitter-view {
    cursor: ew-resize;
    justify-content: center;
}

listviewheadersplitter-view > basic-view {
    width: 1px;
}

listviewheader-view {
    overflow: scroll;
    scrollbar-width: none;
}

    listviewheader-view.sizingmode {
        cursor: ew-resize;
    }

listviewbody-view {
    overflow: auto;
    outline: none;
}

listviewitem-view {
    user-select: none;

    & > * {
        overflow: hidden;
    }
}
