
.bigteaser-container {
    width: 1280px;
    margin: 0 auto;
    padding: 30px 60px;
}

.bigteaser-image {
    width: 100%;
}

.bigteaser-textblock {
    position: absolute;
    left: 60px;
    bottom: 30px;
    background: white;
    padding: 30px 30px 30px 0;
    max-width: 40%;
}

.bigteaser-section {
    font-weight: bold;
    padding: 5px 0;
    text-transform: uppercase;
    color: red;
}

.bigteaser-headline {
    padding: 5px 0;
    font-size: 1.5em;
    line-height: 1.7em;
}
