
.threechoices {
    background: rgb(243,240,239);
    padding: 15px 0;
}

.threechoices-list {
    width: 1310px;
    margin: 0 auto;
}

.threechoicesteaser {
    flex: 1 1 0;
    padding: 15px;
}

.threechoicesteaser-image {
    width: 100%;
}

.threechoicesteaser-section {
    font-weight: bold;
    padding: 5px 0;
    text-transform: uppercase;
    color: red;
}

.threechoicesteaser-headline {
    padding: 5px 0;
}
