
.twochoices {
    width: 1310px;
    margin: 0 auto;
    background: rgb(243,240,239);
    padding: 15px;
}

.twochoices-headline {
    font-size: 2em;
    font-weight: bold;
    line-height: 2em;
    padding: 0 15px;
}

.twochoicesteaser {
    flex: 1 1 0;
    padding: 15px;
}

.twochoicesteaser-image {
    width: 100%;
}

.twochoicesteaser-section {
    font-weight: bold;
    padding: 5px 0;
    text-transform: uppercase;
    color: red;
}

.twochoicesteaser-headline {
    padding: 5px 0;
}
