
.webpagefooter {
    background: rgb(77,77,77);
    color: white;
    padding-top: 15px;
}

.webpagefootercontent {
    width: 1280px;
    margin: 0 auto;
}

.webpagecopyright {
    background: rgb(51,51,51);
    margin-top: 15px;
    height: 80px;
    line-height: 80px;
    color: white;
    text-align: center;
}
