
lineedit-view {
    &.focus {
    }

    &.disabled {
    }

    input[disabled] {
        background: inherit;
    }

    input {
        display: block;
        border: none;
        padding: 0;
        margin: 0;
        min-width: 0;
        background: inherit;
        font: inherit;
        color: inherit;
    }

    input:focus {
        outline: none;
    }

    .lineedit-imagebox {
    }

    .lineedit-imagebox:hover {
    }

    &.flat {
    }
}
