
@import "Fonts.css";

body {
    background: white;
    color: black;
    font: 14px/20px 'Nunito Sans';
}

.fullscreenpage {
    box-sizing: border-box;
    padding: 30px;
    width: 100vw;
    height: 100vh;
}

notfound-view {
    background: lightyellow;
}

homepage-view {
    background: lightgreen;
}

aboutpage-view {
    background: lightblue;
}

/* Styling for web::TextLabel */
textlabel-view {
    &.headline {
        font: bold 26px/40px 'Nunito Sans';
    }
}

/* Styling for web::Button */
button-view {
    & button {
        background: rgb(240,240,240);
        border: 1px solid black;
        border-radius: 3px;
        margin: 0;
        padding: 5px 20px;

        &:hover {
            background: rgb(250,250,250);
        }
    }
}

/* Styling for dialog boxes */
dialog-view {
    position: fixed;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    border-radius: 6px;
    overflow: clip;

    dialogheader-view {
        background-color: darkgray;
        color: white;
        padding: 5px 10px;
        font-weight: bold;
    }

    .dialog-centerview {
        margin: 10px;
    }

    dialogbuttonbar-view {
        margin: 10px;
    }

    .dialogheader-closebutton {
        width: 20px;
    }
}


