
tabbartab-view {
    z-index: 1;
}

tabcontrol-view.tabsAtBottom > tabbar-view > tabbartab-view {
}

.tabbartab-icon {
    width: 20px;
    height: 20px;
    padding-right: 4px;
}

.tabbartab-label {
}

tabbartab-view.selected {
}

tabcontrol-view {
}

.tabcontrol-widgetstack {
}
