
modallayer-view {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000000;

    &.shaded {
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.2);
    }
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.2);
}
