
basic-view {
    position: relative;
}

basic-view:focus {
    outline: none;
}

.hidden {
    display: none !important;
}

.drag-handle
{
    cursor: pointer;
}

.dragging
{
    cursor: move !important;
}
